{
	"plugins": ["prettier-plugin-solidity"],
	"printWidth": 200,
	"tabWidth": 1,
	"useTabs": true,
	"singleQuote": false,
	"semi": true,
	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"printWidth": 200,
				"tabWidth": 1,
				"useTabs": true,
				"singleQuote": false,
				"bracketSpacing": false
			}
		}
	]
}
